.navright{position:relative;float:right;text-align:right;background-image:url("right.png");background-repeat:no-repeat;background-position:right center;padding-right:18px}.navleft{position:relative;float:left;background-image:url("left.png");background-repeat:no-repeat;background-position:left center;padding-left:18px}.page-title{clear:both;font-size:1em;line-height:0.832408435072142em;margin-bottom:0.832408435072142em}.section{margin-bottom:1.5em}div.section-title{font-size:1.602em;margin-bottom:0.9363295880149812em;line-height:0.9363295880149812em;border-color:#333}.subsection{margin-bottom:1.5em}.subsection-title{font-size:1.266em;margin-bottom:0.9363295880149812em;line-height:0.9363295880149812em}.subsubsection{margin-bottom:1.5em}.subsubsection-title{font-size:1.125em;margin-bottom:0.9363295880149812em;line-height:0.9363295880149812em}.bib-entry{margin-bottom:1em}.bib-entry-title{font-weight:bold }.bib-entry-author{font-style:italic }.bib-entry-publisher{font-size:80% }.bib-entry-year{font-size:80% }.bib-entry-isbn{font-size:80% }.rss-button{float:right}.doc-item{font-size:1em;line-height:1.5em;margin-bottom:1.5em}.doc-item-title{font-size:1.125em;line-height:1.3333333333333333em;margin-bottom:0}.doc-item
.date{margin-bottom:0}.doc-item .author-list{margin-bottom:0}.doc-item
.abstract{margin-left:2em;margin-right:2em}.date{color:#737373;font-size:0.9em}div.doc-keywords{font-size:0.9em}div.bloc-keywords{padding:4px;color:#555 }div.keywords{font-style:italic;display:inline }div.doc-intro{display:inline;padding-left:2em}div.doc-intro
p{display:inline }div#archives{padding:0
3px 2px;border:1px
solid #006f00;display:block;-webkit-border-radius:4px;-moz-border-radius:4px;border-radius:4px;background-color:#d5d5ff;padding:0.5em;margin-bottom:1em;margin-left:1em;float:right }div#graph{padding:0
3px 2px;border:1px
solid #006f00;display:block;-webkit-border-radius:4px;-moz-border-radius:4px;border-radius:4px;background-color:#d5d5ff;padding:0.5em;margin-bottom:1em;margin-left:1em;float:right }div.ocaml-exc div.toplevel-out,
div.ocaml-exc
div.stderr{color:#b94a48;font-weight:bold}.error-loc{text-decoration:none;border-bottom:2px solid red}.warning-loc{text-decoration:none;border-bottom:2px solid orange}.table-bench{font-size:1em }.table-bench
td{text-align:center }.table-bench
th{text-align:center }.ocamldoc-page{font-size:0.889em;line-height:15.4112595pt }.ocamldoc-page{}.ocamldoc-page
img.depgraph{border-width:0px}.ocamldoc-page
.keyword{font-weight:bold;color:Red}.ocamldoc-page
.keywordsign{color:#c04600}.ocamldoc-page
.superscript{font-size:4}.ocamldoc-page
.subscript{font-size:4}.ocamldoc-page
.comment{color:Green}.ocamldoc-page
.constructor{color:Blue}.ocamldoc-page
.type{color:#5c6585}.ocamldoc-page
.string{color:Maroon}.ocamldoc-page
.warning{color:Red;font-weight:bold}.ocamldoc-page
.info{margin-left:3em;margin-right:3em}.ocamldoc-page
.param_info{margin-top:4px;margin-left:4.5em;margin-right:4.5em;border-width:0 0 0 1pt;border-color:#4d4d4d;border-style:solid;padding-left:0.2em }.ocamldoc-page
.code{color:#465F91 }.ocamldoc-page
.typetable{border-style:hidden}.ocamldoc-page
.paramstable{border-style:hidden;padding:5pt 5pt}.ocamldoc-page
tr{background-color:White}.ocamldoc-page
td.typefieldcomment{background-color:#FFF;font-size:smaller }.ocamldoc-page
div.sig_block{margin-left:2em}.ocamldoc-page *:target{background:yellow}.ocamldoc-page
body{font:13px sans-serif;color:black;text-align:left;padding:5px;margin:0}.ocamldoc-page
h1{font-size:20pt;text-align:center}.ocamldoc-page
h2{font-size:20pt;border:1px
solid #000;margin-top:5px;margin-bottom:2px;text-align:center;background-color:#90BDFF;padding:2px}.ocamldoc-page
h3{font-size:20pt;border:1px
solid #000;margin-top:5px;margin-bottom:2px;text-align:center;background-color:#90DDFF;padding:2px}.ocamldoc-page
h4{font-size:1.125em;margin-bottom:1pt}.ocamldoc-page
h5{font-size:20pt;border:1px
solid #000;margin-top:5px;margin-bottom:2px;text-align:center;background-color:#90FDFF;padding:2px}.ocamldoc-page
h6{font-size:20pt;border:1px
solid #000;margin-top:5px;margin-bottom:2px;text-align:center;background-color:#90BDFF;padding:2px}.ocamldoc-page
div.h7{font-size:20pt;border:1px
solid #000;margin-top:5px;margin-bottom:2px;text-align:center;background-color:#E0FFFF;padding:2px}.ocamldoc-page
div.h8{font-size:20pt;border:1px
solid #000;margin-top:5px;margin-bottom:2px;text-align:center;background-color:#F0FFFF;padding:2px}.ocamldoc-page
div.h9{font-size:20pt;border:1px
solid #000;margin-top:5px;margin-bottom:2px;text-align:center;background-color:#FFF;padding:2px}.ocamldoc-page
a{color:#416DFF;text-decoration:none}.ocamldoc-page a:hover{background-color:#ddd;text-decoration:underline}.ocamldoc-page
.indextable{border:1px
#ddd solid;border-collapse:collapse}.ocamldoc-page .indextable td,
.ocamldoc-page .indextable
th{border:1px
#ddd solid;min-width:80px}.ocamldoc-page .indextable
td.module{background-color:#eee;padding-left:2px;padding-right:2px}.ocamldoc-page .indextable td.module
a{color:4E6272;text-decoration:none;display:block;width:100%}.ocamldoc-page .indextable td.module a:hover{text-decoration:underline;background-color:transparent}.ocamldoc-page
.deprecated{color:#888;font-style:italic}.ocamldoc-page .indextable tr td
div.info{margin-left:2px;margin-right:2px}.ocamldoc-page
ul.indexlist{margin-left:0;padding-left:0}.ocamldoc-page ul.indexlist
li{list-style-type:none;margin-left:0;padding-left:0}.ocamldoc-page
code{font-size:1em;border-width:0;background-color:transparent;color:#333;font-weight:bold }.ocamldoc-page
.code{background-color:transparent;font-weight:bold }.ocamldoc-page
pre{font-size:1em;padding:8pt 0 2pt 0;border-width:0;background-color:transparent;white-space:pre-wrap;line-height:17.3355pt;margin-bottom:0;font-weight:bold }.ocamldoc-page .info,
.ocamldoc-page
.param_info{font-size:1.124859392575928em;color:#595959}.ocamldoc-page
td.typefieldcomment{font-size:1em}.ocamldoc-page
a{color:#080}.ocamldoc-page div.vertical-space{height:13.7006096955pt}.ocamldoc-page
b{font-weight:normal;color:#9d261d}.ocamldoc-page .section-title{margin-bottom:-0.2em}.ocamldoc-page .subsection-title{margin-bottom:-1em}.ocamldoc-page .subsubsection-title{margin-bottom:-1em}.left-toc{float:left;margin-right:1em}div#navpath{bottom:2em;height:30px;color:#b94a48;font-weight:bold}.error-loc{text-decoration:none;border-bottom:2px solid red}.warning-loc{text-decoration:none;border-bottom:2px solid orange}.table-bench{font-size:1em }.table-bench
td{text-align:center }.table-bench
th{text-align:center }.ocamldoc-page{font-size:0.889em;line-height:15.4112595pt }.ocamldoc-page{}.ocamldoc-page
img.depgraph{border-width:0px}.ocamldoc-page
.keyword{font-weight:bold;color:Red}.ocamldoc-page
.keywordsign{color:#c04600}.ocamldoc-page
.superscript{font-size:4}.ocamldoc-page
.subscript{font-size:4}.ocamldoc-page
.comment{color:Green}.ocamldoc-page
.constructor{color:Blue}.ocamldoc-page
.type{color:#5c6585}.ocamldoc-page
.string{color:Maroon}.ocamldoc-page
.warning{color:Red;font-weight:bold}.ocamldoc-page
.info{margin-left:3em;margin-right:3em}.ocamldoc-page
.param_info{margin-top:4px;margin-left:4.5em;margin-right:4.5em;border-width:0 0 0 1pt;border-color:#4d4d4d;border-style:solid;padding-left:0.2em }.ocamldoc-page
.code{color:#465F91 }.ocamldoc-page
.typetable{border-style:hidden}.ocamldoc-page
.paramstable{border-style:hidden;padding:5pt 5pt}.ocamldoc-page
tr{background-color:White}.ocamldoc-page
td.typefieldcomment{background-color:#FFF;font-size:smaller }.ocamldoc-page
div.sig_block{margin-left:2em}.ocamldoc-page *:target{background:yellow}.ocamldoc-page
body{font:13px sans-serif;color:black;text-align:left;padding:5px;margin:0}.ocamldoc-page
h1{font-size:20pt;text-align:center}.ocamldoc-page
h2{font-size:20pt;border:1px
solid #000;margin-top:5px;margin-bottom:2px;text-align:center;background-color:#90BDFF;padding:2px}.ocamldoc-page
h3{font-size:20pt;border:1px
solid #000;margin-top:5px;margin-bottom:2px;text-align:center;background-color:#90DDFF;padding:2px}.ocamldoc-page
h4{font-size:1.125em;margin-bottom:1pt}.ocamldoc-page
h5{font-size:20pt;border:1px
solid #000;margin-top:5px;margin-bottom:2px;text-align:center;background-color:#90FDFF;padding:2px}.ocamldoc-page
h6{font-size:20pt;border:1px
solid #000;margin-top:5px;margin-bottom:2px;text-align:center;background-color:#90BDFF;padding:2px}.ocamldoc-page
div.h7{font-size:20pt;border:1px
solid #000;margin-top:5px;margin-bottom:2px;text-align:center;background-color:#E0FFFF;padding:2px}.ocamldoc-page
div.h8{font-size:20pt;border:1px
solid #000;margin-top:5px;margin-bottom:2px;text-align:center;background-color:#F0FFFF;padding:2px}.ocamldoc-page
div.h9{font-size:20pt;border:1px
solid #000;margin-top:5px;margin-bottom:2px;text-align:center;background-color:#FFF;padding:2px}.ocamldoc-page
a{color:#416DFF;text-decoration:none}.ocamldoc-page a:hover{background-color:#ddd;text-decoration:underline}.ocamldoc-page
.indextable{border:1px
#ddd solid;border-collapse:collapse}.ocamldoc-page .indextable td,
.ocamldoc-page .indextable
th{border:1px
#ddd solid;min-width:80px}.ocamldoc-page .indextable
td.module{background-color:#eee;padding-left:2px;padding-right:2px}.ocamldoc-page .indextable td.module
a{color:4E6272;text-decoration:none;display:block;width:100%}.ocamldoc-page .indextable td.module a:hover{text-decoration:underline;background-color:transparent}.ocamldoc-page
.deprecated{color:#888;font-style:italic}.ocamldoc-page .indextable tr td
div.info{margin-left:2px;margin-right:2px}.ocamldoc-page
ul.indexlist{margin-left:0;padding-left:0}.ocamldoc-page ul.indexlist
li{list-style-type:none;margin-left:0;padding-left:0}.ocamldoc-page
code{font-size:1em;border-width:0;background-color:transparent;color:#333;font-weight:bold }.ocamldoc-page
.code{background-color:transparent;font-weight:bold }.ocamldoc-page
pre{font-size:1em;padding:8pt 0 2pt 0;border-width:0;background-color:transparent;white-space:pre-wrap;line-height:17.3355pt;margin-bottom:0;font-weight:bold }.ocamldoc-page .info,
.ocamldoc-page
.param_info{font-size:1.124859392575928em;color:#595959}.ocamldoc-page
td.typefieldcomment{font-size:1em}.ocamldoc-page
a{color:#080}.ocamldoc-page div.vertical-space{height:13.7006096955pt}.ocamldoc-page
b{font-weight:normal;color:#9d261d}.ocamldoc-page .section-title{margin-bottom:-0.2em}.ocamldoc-page .subsection-title{margin-bottom:-1em}.ocamldoc-page .subsubsection-title{margin-bottom:-1em}.left-toc{float:left;margin-right:1em}div#navpath{bottom:2em;height:30px}div#pagesource{display:none}div#pagesource:target{display:block;background-color:transparent;border-width:0}a
img{border-width:0}div.img-float-left{position:relative;float:left;margin-right:1em}div.img-float-right{position:relative;float:right;margin-left:1em }div.float-right{position:relative;float:right;margin-left:1em}img.latex{vertical-align:text-top}div#pagesource{display:none}div#pagesource:target{display:block;background-color:transparent;border-width:0}a
img{border-width:0}div.img-float-left{position:relative;float:left;margin-right:1em}div.img-float-right{position:relative;float:right;margin-left:1em }div.float-right{position:relative;float:right;margin-left:1em}img.latex{vertical-align:text-top}#header{margin-bottom:0.5em}#footer{font-size:0.889em}.generatedon{text-align:right;font-size:0.889em;color:#999}div.eqn{margin-left:auto;margin-right:auto;width:100%;text-align:center}div.figure{margin-top:1em;margin-bottom:1em;margin-left:auto;margin-right:auto;width:100%}div.figure
div.title{font-weight:bold}div.figure
div.contents{padding:0.5em}div.figure
div.contents{text-align:center }div.figure div.contents
div.legend{text-align:justified;margin-left:2em;margin-right:2em}div.theorem{margin-top:1em;margin-bottom:1em;margin-left:auto;margin-right:auto;width:100%;padding:0
3px 2px;border:1px
solid #006f00;display:block;-webkit-border-radius:4px;-moz-border-radius:4px;border-radius:4px;background-color:#d5d5ff;background-color:#eef;border-width:0 2px 0 2px}div.theorem
div.title{font-weight:bold}div.theorem
div.contents{padding:0.5em}div.theorem
div.contents{margin-bottom:0;padding-bottom:0}div.theorem
p{margin-bottom:0}div.definition{margin-top:1em;margin-bottom:1em;margin-left:auto;margin-right:auto;width:100%;padding:0
3px 2px;border:1px
solid #006f00;display:block;-webkit-border-radius:4px;-moz-border-radius:4px;border-radius:4px;background-color:#d5d5ff;background-color:#eef;border-width:0 2px 0 2px}div.definition
div.title{font-weight:bold}div.definition
div.contents{padding:0.5em}div.definition
div.contents{margin-bottom:0;padding-bottom:0}div.definition
p{margin-bottom:0}div.lemma{margin-top:1em;margin-bottom:1em;margin-left:auto;margin-right:auto;width:100%;padding:0
3px 2px;border:1px
solid #006f00;display:block;-webkit-border-radius:4px;-moz-border-radius:4px;border-radius:4px;background-color:#d5d5ff;background-color:#eef;border-width:0 2px 0 2px}div.lemma
div.title{font-weight:bold}div.lemma
div.contents{padding:0.5em}div.lemma
div.contents{margin-bottom:0;padding-bottom:0}div.lemma
p{margin-bottom:0}div.prop{margin-top:1em;margin-bottom:1em;margin-left:auto;margin-right:auto;width:100%;padding:0
3px 2px;border:1px
solid #006f00;display:block;-webkit-border-radius:4px;-moz-border-radius:4px;border-radius:4px;background-color:#d5d5ff;background-color:#eef;border-width:0 2px 0 2px}div.prop
div.title{font-weight:bold}div.prop
div.contents{padding:0.5em}div.prop
div.contents{margin-bottom:0;padding-bottom:0}div.prop
p{margin-bottom:0}div.remark{margin-top:1em;margin-bottom:1em;margin-left:auto;margin-right:auto;width:100%;padding:0
3px 2px;border:1px
solid #006f00;display:block;-webkit-border-radius:4px;-moz-border-radius:4px;border-radius:4px;background-color:#d5d5ff;background-color:#eef;border-width:0 2px 0 2px}div.remark
div.title{font-weight:bold}div.remark
div.contents{padding:0.5em}div.remark
div.contents{margin-bottom:0;padding-bottom:0}div.remark
p{margin-bottom:0}div.proof{margin-top:1em;margin-bottom:1em;margin-left:auto;margin-right:auto;width:100%;padding:0
3px 2px;border:1px
solid #006f00;display:block;-webkit-border-radius:4px;-moz-border-radius:4px;border-radius:4px;background-color:#d5d5ff;background-color:#eef;border-width:0 2px 0 2px;border-width:0 2px 0 2px;background-color:#eee}div.proof
div.title{font-weight:bold}div.proof
div.contents{padding:0.5em}div.proof
div.contents{margin-bottom:0;padding-bottom:0}div.proof
p{margin-bottom:0}span.equation{display:block;margin-top:1em;margin-bottom:1em;margin-left:auto;margin-right:auto;width:100%;text-align:center}span.equation
div.title{font-weight:bold}span.equation
div.contents{padding:0.5em}span.equation
span.title{display:inline;font-weight:normal;float:right;padding-right:2em}span.equation
.contents{display:inline}table.eqnarray{margin-left:auto;margin-right:auto;width:100%}table.eqnarray
td{padding-left:0.2em;padding-right:0.2em}table.eqnarray
tr{height:39pt}table.eqnarray
td.right{text-align:right }table.eqnarray
td.left{text-align:left }table.eqnarray
td.center{text-align:center }table.eqnarray
.equation{text-align:inherit }table.eqnarray .equation
.title{padding-left:3em;float:right}.rounded-box{padding:0
3px 2px;border:1px
solid #006f00;display:block;-webkit-border-radius:4px;-moz-border-radius:4px;border-radius:4px;background-color:#d5d5ff}.sidebox{padding:0
3px 2px;border:1px
solid #006f00;display:block;-webkit-border-radius:4px;-moz-border-radius:4px;border-radius:4px;background-color:#d5d5ff;padding:0.5em;margin-bottom:1em;margin-left:1em;float:right }*:target{padding:0.1em 0.5em;border:none;display:block;-webkit-border-radius:4px;-moz-border-radius:4px;border-radius:4px;background-color:#d5d5ff;display:inline }footer{line-height:0.5}.logo{height:70px}pre{padding:0.5em 2em;background-color:#F8F8F8;border-width: 1px;border-style: solid;border-color: #DFDFDF;border-radius:3px}code{background-color:#F8F8F8;border:none}.ext-a a:after{font-family:FontAwesome;content:"\00a0\f08e";font-size:0.7em} #banner{background-color:#d5d5ff;margin-bottom:0;border:none 0px;}.breadcrumbs{margin-bottom: 1em}