<post title="My first blog post!"
date="2013/11/25"
>
<p>This is the first post of this blog.</p>
<sep_/>
<p>Lorem ipsum bla bla bla</p>
</post><post title="My first blog post!"
date="2013/11/25"
>
<p>This is the first post of this blog.</p>
<sep_/>
<p>Lorem ipsum bla bla bla</p>
</post>
