<page
    main="true"
    stog:comm="true"
    stog:sidebar="active"
    stog:ads="true"
    stog:author="John Donym"
    title="Foundation template for Stog"
    stog:site-description="Site to test the template"
    stog:site-email="foo@bar.com"
    stog:rss-length="10"
    navbar-home="active"
    banner="true"
    stog:archived-docs="post"
    with-contents="true"
>
<contents>

<h3>Hello world !</h3>
<h4>An <ext-a href="http://oclaunch.tuxfamily.org">external link</ext-a></h4>

<section title="Latest news">
    <documents type="post" max="4"/>
</section>
</contents>
</page>
