<page title="Installation"
navbar-install="active"
with-contents="true"
>
<release version="">
<if version=""><error_>&lt;release&gt;: missing version</error_></if>
<li><a href="stog-&lt;version/&gt;.tar.gz"><version/></a>
<span class="date">[<doc-date doc-path="release-&lt;version/&gt;"/>]</span>
<late-inc href="release-&lt;version/&gt;#changes" id="changes-&lt;version/&gt;"/>
</li>
</release>
<contents>
<prepare-toc depth="2">
<toc></toc>

<section id="opam" title="Quick install with Opam">
<p>
The easiest way to install is to use  <ext-a href="http://opam.ocaml.org">OPAM</ext-a>.
Install Opam, then, as a regular user, fetch and install an OCaml version and install Stog.
The whole can be done with the following opam commands:
</p>
<icode>
$ opam init --comp=4.02.1
$ opam update
$ opam install stog
</icode>
</section>

<section id="deps" title="Dependencies">
<p>
To build Stog, you will need:
</p>
<ul>
<li><ext-a href="http://caml.inria.fr/">OCaml >= 4.02.1</ext-a>,</li>
<li><ext-a href="http://config-file.forge.ocamlcore.org/">Config-file >= 1.2</ext-a>.</li>
<li><ext-a href="http://erratique.ch/software/xmlm">Xmlm >= 1.1.0</ext-a>,</li>
<li><ext-a href="http://projects.camlcity.org/projects/ocamlnet.html">OCamlnet >= 3.6</ext-a>.</li>
<li><ext-a href="https://github.com/zoggy/xtmpl">Xtmpl >= 0.10</ext-a>,</li>
<li><ext-a href="http://zoggy.github.io/higlo/">Higlo >= 0.4</ext-a>.</li>
</ul>
<p>
These additional libraries are required to compile and install
the preview server:
</p>
<ul>
<li><ext-a href="http://ocsigen.org/lwt">Lwt >= 2.4.5</ext-a>,</li>
<li><ext-a href="http://ocsigen.org/js_of_ocaml">Js_of_ocaml >= 2.4.1</ext-a>,</li>
<li><ext-a href="https://zoggy.github.io/xmldiff/">Xmldiff >= 0.5.0</ext-a>.</li>
<li><ext-a href="https://github.com/vbmithr/ocaml-websocket">OCaml-Websocket >= 0.8.1</ext-a>,</li>
<li><ext-a href="https://zoggy.github.com/ojs-base">Ojs-base >= 0.2.0</ext-a>,</li>
<li><ext-a href="https://github.com/whitequark/ppx_deriving_yojson/">Ppx-deriving-yojson >= 2.0</ext-a>,</li>
<li><ext-a href="https://github.com/mirage/ocaml-cstruct">ocaml-cstruct >= 0.3.1</ext-a>,</li>
<li><ext-a href="https://github.com/mirage/ocaml-crunch">ocaml-crunch >= 1.1.0</ext-a>.</li>
</ul>
<p>
You will need to have the following tools installed to use
some functions:
</p>
<ul>
<li><ext-a href="http://www.andre-simon.de/doku/highlight/en/highlight.html">highlight</ext-a>
to use syntax highlighting for languages not support by
<ext-a href="http://zoggy.github.io/higlo/">Higlo</ext-a>,</li>
<li>LaTeX and <ext-a href="http://dvisvgm.sourceforge.net/">dvisvgm</ext-a> to embed
LaTeX in your pages.</li>
</ul>
</section>

<section id="download" title="From the sources">
<p>Get the sources from git repository:</p>
<icode>$ git clone https://github.com/zoggy/stog.git</icode>

<p>Or pick one of the releases:</p>
<ul>
<release version="0.14.0"/>
<release version="0.13.0"/>
<release version="0.12.0"/>
<release version="0.11.1"/>
<release version="0.11.0"/>
<release version="0.10.0"/>
<release version="0.9.0"/>
<release version="0.8.0"/>
<release version="0.7.0"/>
<release version="0.6.1"/>
<release version="0.6"/>
<release version="0.5"/>
<release version="0.4"/>
<release version="0.3"/>
<release version="0.2"/>
<release version="0.1"/>
</ul>

<subsection id="compilation" title="Compilation">
<p>
Just type
</p>
<icode>./configure &amp;&amp; make &amp;&amp; make install</icode>
<p>
This will install <icode>stog</icode>, <icode>stog.byte</icode>,
<icode>stog-ocaml-session</icode>, <icode>mk-stog</icode>, <icode>mk-stog.byte</icode>
and <icode>mk-stog-ocaml-session</icode> in the same directory as
<icode>ocamlc</icode>. This will also install the <icode>stog</icode> library and the
<icode>stog.asy</icode>,
<icode>stog.disqus</icode>,
<icode>stog.dot</icode>,
<icode>stog.markdown</icode>,
<icode>stog.multi-doc</icode>,
<icode>stog.rel-href</icode> and
(eventually) <icode>stog.server</icode> plugins, with findlib.
</p>
</subsection>
</section>

</prepare-toc>
</contents>
</page>
